{{#if user}}
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 200px;">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-center" id="offcanvasExampleLabel">
      <img src="/img/logo-icon/logo-icon-white.png" class="img-fluid" alt="" width="100">
    </h5>
    <button type="button" class="btn-close bg-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="padding: 0px;">
    <div class="list-group list-group-flush">
      <a  href="/" type="button" id="dashboard" class="list-group-item list-group-item-action active" aria-current="true">
        <i class="fa-solid fa-gauge"></i> Dashboard
      </a>
      <a href="/paises" id="paises" type="button" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-flag"></i> Paises
      </a>
      <a href="/region" id="region" type="button" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-landmark-flag"></i> Regiones
      </a>
      <a href="/ciudades" id="ciudades" type="button" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-tree-city"></i> Ciudades
      </a>
      <a href="/empresas" id="empresas" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-building"></i> Empresas
      </a>
      <a href="/sedes" id="sedes" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-building-flag"></i> Sedes
      </a>
      <a href="/espacios" id="espacios" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-laptop-file"></i> Espacios
      </a>
      <a href="/tipos" id="tipos" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-font-awesome"></i> Tipo de Espacios
      </a>
      <a href="/servicios" type="button" id="servicios" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-keyboard"></i> Servicios
      </a>
      <a href="/reservas" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-calendar-days"></i> Reservas
      </a>
      <a type="button" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-users"></i> Usuarios Empresas
      </a>
      <a href="/cargos" id="cargos" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-address-card"></i> Cargos de Usuarios
      </a>
      <hr>
      <a href="/user" id="user" class="list-group-item list-group-item-action">
        <i class="fa-solid fa-user-shield"></i> Usuarios Admin
      </a>
    </div>
  </div>
</div>

<!--ul class="navbar-nav  sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #E9ECEE;">


      <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color: #fff;" href="/dashboard">
        <div class="sidebar-brand-icon">
          <img src="/img/Logo_Coffice_Enterprise.png" class="mx-auto d-block m-d logo" width="150">   
        </div>
      </a>

      <li class="nav-item " id="dashboard">
        <a href="/dashboard" class="nav-link">
          Dashboard</a>
      </li>

      <li class="nav-item " id="empresas">
        <a href="/empresas" class="nav-link" >
          Empresas</a>
      </li>
      <li class="nav-item " id="sedes">
        <a href="/sedes" class="nav-link">
          Sedes</a>
      </li>
      <li class="nav-item " id="espacios">
        <a href="/espacios" class="nav-link">
          Espacios de Trabajo</a>
      </li>
      <li class="nav-item " id="reservas">
        <a href="/reservas" class="nav-link">
          Reservas</a>
      </li>
      <li class="nav-item " id="detalles">
        <a href="/detalles" class="nav-link">
          Equipamiento</a>
      </li>
      <li class="nav-item " id="usuarios">
        <a href="/usuarios" class="nav-link">
          Usuarios Empresas</a>
      </li>
      <li class="nav-item " id="cargos">
        <a href="/cargos" class="nav-link">
          Cargos de Usuarios</a>
      </li>
      <li class="nav-item " id="cuotas">
        <a href="/cuotas" class="nav-link">
          Cuotas</a>
      </li>
 

    </ul-->
{{/if}}
